.welcome {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  
  background: linear-gradient(#baf, #000);
  color: white;
  text-align: center;
  font-family: 'Playwrite';
  font-size: 10cqw;
  transition: 500ms;
  overflow: hidden;
  scrollbar-width: none;
  user-select: none;
  -moz-user-select: none;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  inset: 0;
  z-index: 6;

  & > h1 {
    padding: 10dvw;

    background: linear-gradient(45deg, #79c, #97c);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1em;
  }
  & > p {
    height: 1em;
    width: max-content;

    font-size: 5cqw;
    line-height: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(14px) saturate(140%);
    -webkit-backdrop-filter: blur(14px) saturate(140%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 1.5rem;
    
    position: absolute;
    bottom: 5cqh;
  }
}

.navbar {
  height: 10dvh;
  width: 80dvw;
  margin: 0;
  padding: 0;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(14px) saturate(140%);
  -webkit-backdrop-filter: blur(14px) saturate(140%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 1.5rem;
  overflow: auto;
  scrollbar-width: none;
  transition: 1000ms;

  display: grid;
  grid-template-columns: 1fr 10% 10% 10% 10% 10%;
  grid-template-rows: 1fr;
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  top: 0;

  & > .navLogo {
    height: 10dvh;
    width: auto;

    background: #000 url('./assets/logo_folder.png') no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }

  & > .navBtn {
    height: 7dvh;
    width: 7dvw;
    margin: auto;
    padding: 0;

    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 1.5rem;
  }
}

.hero {
  height: auto;
  width: 100dvw;
  margin: 0;
  padding: 0;
  border: none;

  box-shadow: 0 7rem 100rem #baf;
  
  & > img {
    height: auto;
    min-height: 50dvh;
    width: 100dvw;
    object-fit: contain;
  }
}

.overview {
  height: auto;
  width: 100dvw;
  padding: 0;

  background: linear-gradient(transparent, #000);
  text-align: center;

  & > h1 {
    font-size: 15dvw;
    margin-top: 40dvh;
    line-height: 1.2em;

    background: linear-gradient(0deg, #fff, #86b 40%, #000 95%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  & > h2 {font-size: 5dvw;}
  & > h3 {
    font-size: 2dvw;
    
    & > b {
      font-family: 'Playwrite';
      background: linear-gradient(0deg, #000, #86b 40%);
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    & > .TS {
      font-size: 1.1em;
      background: radial-gradient(white, black 90%);
      font-family: 'Roboto';
      font-weight: 600;
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  & > .creator {
    font-size: 10dvw;
    line-height: 1.2em;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(187, 170, 255, 0.5) 30%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* Philosophy */
/* .cards {
  height: max-content;
  width: 100dvw;
  margin: auto;
  
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;

} .card {
  padding: 0.25rem;
  margin: 0.25rem;

  background: #1e1e1e;
  border-radius: 2.5rem;
  box-shadow:
  -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.15),
  0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 1);
  font-size: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  & > h2 {
    width: 100%;
    line-height: 2em;
    border-bottom: 2px solid #e1e1e1;
  }
} .cardData {
  text-wrap-mode: wrap;
  text-wrap-style: balance;
}

@media (max-width: calc(220ch + 13rem)) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
} @media (max-width: calc(100ch + 5rem)) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .navbar {
    width: 100dvw;
    position: fixed;
    top: 0;
  }
} */

/* Meet Our Team */

.tCards {
  height: max-content;
  width: 100dvw;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

  gap: 1rem;
}

.tCard {
  height: minmax(5rem, max-content);
  width: minmax(max-content, calc((100dvw - 10rem) / 4));
  padding: 1rem;

  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 2.5rem;
  transition: 100ms;
  position: relative;

  & > img {
    height: 30dvh;
    width: 30dvh;
    object-fit: contain;
    
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 2.5rem;
  }
} .tCard::before {
  content: attr('emoji');
  height: 1rem;
  width: 2rem;
  padding: 0.5rem;
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  visibility: visible;
} .tCard:hover ::before {
  visibility: visible;
}

.tCard:hover {
  transform: scale(1.07);

  &+ .tCard {transform: scale(1.01);}
}.tCard:has(+ .tCard:hover) {
  transform: scale(1.01);
}



@media (max-width: calc(1400px - 4rem)) {
  .tCards {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
  }
  .tCard {
    width: 50dvh;
    & > img {width: 40dvh;}
  }
  .navbar {
    width: 100dvw;
    top: 0;
    border-radius: 0;
  }
} @media (max-width: calc(1100px - 2rem)) {
  .tCards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  .tCard {
    width: 80dvw;
    & > img {width: 80cqw;}
  }
}
