.welcome {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  
  /* background: url('./assets/logo1_land.png') no-repeat; */
  background: black;
  color: white;
  text-align: center;
  font-family: 'Brush Script MT';
  font-size: 20dvh;
  transition: 500ms;
  overflow: hidden;
  scrollbar-width: none;
  user-select: none;
  -moz-user-select: none;
  
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  inset: 0;

  & > h1 {
    padding: 10dvw;

    background: linear-gradient(45deg, #acf, #caf);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.navbar {
  height: 10dvh;
  width: 80dvw;
  margin: auto;
  padding: 0;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(14px) saturate(140%);
  -webkit-backdrop-filter: blur(14px) saturate(140%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 1.5rem;
  overflow: hidden;
  transition: 1000ms;

  display: grid;
  grid-template-columns: 1fr 10% 10% 10% 10% 10%;
  grid-template-rows: 1fr;
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  & > .navLogo {
    height: 10dvh;
    width: auto;
  }

  & > .navBtn {
    height: 7dvh;
    width: 7dvw;
    margin: auto;
    padding: 0;

    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(14px) saturate(140%);
    -webkit-backdrop-filter: blur(14px) saturate(140%);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 1.5rem;
  }
}

.hero {
  height: auto;
  width: 100dvw;
  margin: 0;
  padding: 0;
  border: none;

  box-shadow: 0 0 50rem #baf;
  
  & > img {
    height: 100dvh;
    width: 100dvw;
  }
}

.overview {
  height: auto;
  width: 100dvw;
  padding: 5dvh 0;

  background: linear-gradient(transparent, #000, #1e1e1e);
  text-align: center;

  & > h1 {font-size: 15dvh; margin-top: 50dvh;}
  & > h2 {font-size: 5dvh;}
}

.cards {
  height: max-content;
  width: 100dvw;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  height: 40dvh;
  width: 20dvw;

  background: #1e1e1e;
  border-radius: 2.5rem;
  box-shadow:
  -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.15),
  0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cardData {
  text-wrap-mode: wrap;
  text-wrap-style: balance;
}