/* GLOBAL */
html {
  color-scheme: dark;
  color: white;

  transition: 300ms;
  scroll-behavior: smooth;

  user-select: none;
  -moz-user-select: none;
}

/* ROOT */
html, body {
  height: 100dvh;
  width: 100dvw;
  padding: 0;
  margin: 0;

  background: var(--background);
  scrollbar-width: thin;
} #root {
  min-height: 100dvh;
  width: 100dvw;

  font-family: 'Google Sans', sans-serif;
  overflow-x: hidden;
} #small {
  display: none;
}

/* EXCEPTIONS */
@media (max-width: calc(100dvh - 1px)) {
  #root {display: none;}
  #small {display: block;}
}