/* GLOBAL */
html {
  color-scheme: dark;
  color: white;

  user-select: none;
  -moz-user-select: none;
}

/* ROOT */
html, body {
  height: 100dvh;
  width: 100dvw;
  padding: 0;
  margin: 0;

  background: var(--background);
  scrollbar-width: thin;
} #root {
  min-height: 100dvh;
  width: 100dvw;

  font-family: 'Google Sans', sans-serif;
  overflow-x: hidden;
}
